/*
GENERAL
*/
a{color:#000000;} 
li a:hover{
    color:#c1c1c1;
}

.site {
    background-image: linear-gradient( rgb(203, 203, 203), rgb(226, 227, 232));
}

.page{
    background-color: #ffffff;
    background-image: linear-gradient( rgb(203, 203, 203), rgb(226, 227, 232));
    margin-top: 2em;
    width: 98%;
}

.body{
    min-width: 35%;
    width: 40em;
    margin: auto;
    border: 2px solid #000000;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    margin-bottom: 4%;
    background-color: #e4e4e4;
    box-shadow: 2px 12px 20px 6px rgba(103, 103, 103, 0.331);
}
.body:hover{
    box-shadow: 2px 12px 20px 6px rgba(0, 0, 0, 0.331);
    transition: 1s;
}

.section-header{
    margin-top: 1%;
    font-size: 1.1em;
}
.mobile-indicator{
    display: none
}
.section-separator{
    margin: 0px;
    margin-top: 1px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.general-paragraph{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 3%;
    padding: 3px;
    font-size: .9em;
}
.brief-paragraph{
    font-size: 1vw;
}
.middle-title{
    font-size: 1.0em;
}
.paragraph-header{
    background-color: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1vw;
}
.professional-list{
    font-size: .9em;
}

/*
help container
*/
#help-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 2vh;
 
}
.help-button{
    font-size: .9em;
    border: none;
    border-radius: .5em;
    background-color: Transparent;
    color:#236776;
    font-family: 'Times New Roman', Times, serif;

}
.help-button:hover{
    background-color: rgb(154, 154, 154);

}

.contact-element{
    text-align: right;
    padding-right: 0em;
}
.mobile-indicator-wrapper{
    text-align: left
}


/*
HEADER
*/
#intro-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
}
.intro-element-main{
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    font-size: .9em;
    border-radius: 4px;
}
.main-name {
    font-size: 1.2em;
}


/*
PROGAMMING
*/
#programming-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: none;
    align-items: center;
    margin-top: 1%;
}
.programming-element{
    background-color: #abababa7;
    font-size: 1.0em;
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
}
.programming-element:hover{
    background-color: #949494;

}
.programming-list{
    background-color: rgb(216, 216, 216);
    font-size: .75em;
    border: 1px solid #000000;
    text-align: left;
    padding-left: 4px;
    padding-bottom:4px;
    padding-top:1px;
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
}
.mobile-list-item{
   display: none;
}
.desktop-list-item{
    display: list-item;
}

/*
PROFESSIONAL
*/
#professional-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    background-color: none;
    margin-bottom: 0px;
    margin-top: 0px;

}
.professional-element{
    background-color: None;
    padding: 2px;
    margin-top: 1%;
    margin-bottom: 0px;
    margin-top: 0px;

}
.job-title {
    font-size: .9em;
}

.job-elipse{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: .75em;
    font-weight: 800;
    padding-right: 75%
}
.job-description-desktop{
    padding: 2px;
    font-size: .75em;
}
.job-description-mobile{
    display: none;
}
.job-when{
    font-size: .6em;
    display: inline;
}

/*
Education
*/
#education-container{
    display: grid;
    grid-template-columns: auto;
    background-color: none;
}
.education-element{    
    margin-top: 1%;
    font-size: .9em;
}

.mobile-education-description{
    display: none;
}
.desktop-education-description{
    display: list-item;
    font-size: .8em;
}
.education-place-date{
    display: inline;
}







/*
Styling for the programming and mathematics coureses
*/
.course-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% auto 10%;
    background-color: none;
}
.course-name{
    background-color: clear;
    font-size: 1em;
    text-align: left;
    padding-left: 0px;
    padding-bottom:1px;
    padding-top:0px;
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .page{
        background-color: #ffffff;
        background-image: linear-gradient(rgb(203, 203, 203), rgb(226, 227, 232));
        margin: auto;
        padding: 9vh 0 20vh 0;
    }
    .body{ 
        border: 2px solid #000000;
        border-radius: 4px;
        background-color: #e4e4e4;
        box-shadow: 2px 12px 20px 6px rgba(103, 103, 103, 0.331);
        width: 89%;
        height: 100%;
        padding: 10px 10px;

    }
    
    /*General*/
    .section-header{
        font-size: 4.2vw
    }

    /*Header*/
    .main-name{
        font-size: 4.2vw
    }
    .intro-element-main{
        font-size: 3.2vw;
    }
    .mobile-indicator{
        display: block;
        margin-block-start: 0em;
        padding: 1px 6px;
        font-size: 3vw;
        color: #236776;
    }

    /*Programming*/
    .programming-element{
        font-size: 3.6vw;
    }
    #programming-container{
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 1%;
    }
    .programming-list{
        font-size: 2.4vw;
    }
    .desktop-list-item{
        display: none;
    }
    .mobile-list-item{
        display: list-item;
        font-size: 2.4vw;
    }

    


    /*Profession*/
    .professional-element{
        white-space: nowrap;
    }
    .job-title {
        font-size: 3.2vw;
    }
    .job-when{
        display: none;
    }
    .job-description-mobile{
        font-size: 2.72vw;
        display: list-item;
    }
    .job-description-desktop{
        display: none;
    }

    /*Education*/
    .education-element{    
        margin-top: 1%;
        font-size: 3.2vw;
    }
    .mobile-education-description{
        display: list-item;
        font-size: 2.7vw;
    }
    .desktop-education-description{
        display: none;
    }
    .education-place-date{
        display: none;
    }


}





