/*
GENERAL
*/
a{color:#000000;} 

li a:hover{
    color:#c1c1c1;
}
.main-menu{
    list-style-type: none;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
    overflow: hidden;
    background-color: clear;


}
.menu-left{
    float:left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #182443;
    border-radius: 8px;
}
.menu-right{
    float:right;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 2em;
    background-color: #236776;
    border-radius: 8px;
}
.menu-item {
    display: block;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
}


.page{
    background-color: #ffffff;
}


.center-video{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    background-color: none;
}
.video-content{
    background-color: clear;
    font-size: 1vw;
    text-align: center;
    padding-left: 2px;
    padding-bottom:4px;
    padding-top:1px;
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
    border: 6px outset rgb(177, 177, 177);
}
.mp4-file {
    position: relative;
    width: 80%
}
.image-compare{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh;
    height: 100%;
    width: 100%;
    background-color: none;
    margin-bottom: 16px;

}
.image-file {  
    margin-top: 8px;
    width: 100%;
    height: 100%;
}




.body{
    width: 42em;
    margin: auto;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 2%;
    margin-bottom: 4%;
    padding-bottom: 10px;
    padding-top: 30px;
    white-space: nowrap;
    overflow: hidden;
}
.section-header{
    margin-top: 1%;
    font-size: 1.1em;
}
.section-separator{
    margin: 0px;
    margin-top: 1px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.general-paragraph{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 3%;
    padding: 3px;
    font-size: .9vw;
}
.brief-paragraph{
    font-size: 1vw;
}
.middle-title{
    font-size: 1.0vw;
}
.paragraph-header{
    background-color: clear;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1vw;
}
.professional-list{
    font-size: .9vw;
}




/*
HEADER
*/
#intro-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
}
.intro-element-main{
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    font-size: 1vw;
    border-radius: 4px;
}
.main-name {
    font-size: 1.2vw;
}


/*
PROGAMMING
*/
#programming-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: none;
    align-items: center;
    margin-top: 1%;
}
.programming-element{
    background-color: #a7a7a7;
    font-size: 1.0em;
    border: 1px solid #000000;
    text-align: center;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
}
.programming-list{
    background-color: #dadada;
    font-size: 12px;
    border: 1px solid #000000;
    text-align: left;
    padding-left: 2px;
    padding-bottom:4px;
    padding-top:1px;
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
}

/*
PROFESSIONAL
*/
#professional-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    background-color: none;
    margin-bottom: 0px;
    margin-top: 0px;

}
.professional-element{
    background-color: None;
    padding: 3px;
    margin-top: 1%;
    margin-bottom: 0px;
    margin-top: 0px;

}

.job-title {
    font-size: .9em;


}
.job-description{
    padding: 2px;
    font-size: .75em;
    white-space: nowrap;
    overflow: hidden;

}
.job-when{
    font-size: .6em;
    display: inline;
}



/*
Education
*/
#education-container{
    display: grid;
    grid-template-columns: auto;
    background-color: none;
}
.education-element{    
    margin-top: 1%;
    font-size: .9em;
}
.education-description{
    font-size: .8em;
    
}







/*
Styling for the programming and mathematics coureses
*/
.course-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% auto 10%;
    background-color: none;
}
.course-name{
    background-color: clear;
    font-size: 1em;
    text-align: left;
    padding-left: 0px;
    padding-bottom:1px;
    padding-top:0px;
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
}

